{% render 'partials/head.liquid', title: 'Huis te koop: Apollolaan' %}
{% render 'partials/header.liquid' %}

<body>

    <main>

        <div class="carousel">
            <div class="carousel__slide" data-label="Slide 1">
                <img src="/assets/afb1.jpg" width="375" height=320 alt="foto binnenkant huis met tuin">
            </div>
            
            <div class="carousel__slide" data-label="Slide 2">
                <video controls width="375" height=320 title="video van een huis aan de Apollolaan"> 
                    <source src="/assets/video.mp4" type="video/mp4">
                    <track src="" kind="captions" srclang="nl" label="dutch_captions">
                </video>
            </div>
            
            <div class="carousel__slide" data-label="Slide 3">
                <img src="/assets/plattegrong.jpg" width="375" height=320 alt="afbeelding van plattegrond">
            </div>

            

            <div class="carousel__slide" data-label="Slide 4">
                <img src="https://fdnd-agency.directus.app/assets/{{ huis.poster_image }}?height=320&width=375" alt="image van Stationsweg 11">
            </div>

            <div class="carousel__slide" data-label="Slide 5">
                <img src="/assets/afb2.jpg" width="375" height=320 alt="huis van teras met barbeque">
            </div>
        </div>  

        <form method="POST" action="/detail/koop/Amsterdam/huis-Apollolaan-11/28">
            <input type="hidden" name="house_id" value="{{ huis.id }}">
                <button class="like-button" type="submit" title="button of a heart">
                    {% if from %}
                        <!-- Empty state: empty heart -->

                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M19.5001 4.92998C18.5606 4.02118 17.3072 3.50908 16.0001 3.49998C14.9176 3.49633 13.8638 3.8476 13.0001 4.49998C12.6215 4.78476 12.2848 5.12139 12.0001 5.49998C11.7153 5.12139 11.3787 4.78476 11.0001 4.49998C10.1376 3.84386 9.08376 3.48859 8.00006 3.48859C6.91637 3.48859 5.86256 3.84386 5.00006 4.49998C4.37618 4.96298 3.87004 5.56634 3.52259 6.26124C3.17514 6.95614 2.99613 7.72307 3.00006 8.49998C3.00006 16 11.0001 20.5 12.0001 20.5C13.0001 20.5 21.0001 16 21.0001 8.49998C21 7.83508 20.8673 7.17687 20.6097 6.56387C20.3521 5.95088 19.9749 5.39541 19.5001 4.92998ZM12.0001 18.93C9.31722 17.6026 7.09973 15.4932 5.64006 12.88C4.90844 11.5348 4.51706 10.0311 4.50006 8.49998C4.50039 7.69661 4.77707 6.91781 5.28367 6.2943C5.79027 5.67079 6.49595 5.24055 7.28225 5.07579C8.06854 4.91102 8.88758 5.02177 9.60188 5.38944C10.3162 5.75711 10.8822 6.35932 11.2051 7.09498C11.2351 7.16498 11.2601 7.23998 11.2901 7.31498C11.3403 7.46205 11.4353 7.58973 11.5617 7.68014C11.6881 7.77054 11.8396 7.81915 11.9951 7.81915C12.1505 7.81915 12.302 7.77054 12.4284 7.68014C12.5548 7.58973 12.6498 7.46205 12.7001 7.31498C12.7251 7.23998 12.7551 7.16498 12.7851 7.09498C13.1042 6.35319 13.67 5.74458 14.3866 5.37231C15.1032 5.00005 15.9265 4.88702 16.7169 5.0524C17.5073 5.21778 18.2162 5.65139 18.7235 6.27973C19.2307 6.90806 19.5051 7.69247 19.5001 8.49998C19.4872 10.0396 19.0956 11.5524 18.3601 12.905C16.9004 15.5182 14.6829 17.6276 12.0001 18.955V18.93Z" fill="#0071B3"/>
                        </svg>
                    {% else %}
                        <!-- Ideal state: filled -->

                        <svg width="19" height="17" viewBox="0 0 19 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5.49994 -0.00195312C6.5836 -0.00195312 7.63746 0.353683 8.49994 1.00977C8.87843 1.2945 9.21522 1.63127 9.49994 2.00977C9.78463 1.6313 10.1215 1.29449 10.4999 1.00977C11.3637 0.357422 12.4176 0.00616027 13.4999 0.00976562C14.807 0.0188669 16.0604 0.530695 16.9999 1.43945C17.4747 1.90485 17.8518 2.46031 18.1093 3.07324C18.3669 3.68624 18.4998 4.34486 18.4999 5.00977C18.4996 12.5095 10.4999 17.0098 9.49994 17.0098C8.49914 17.0092 0.500288 12.509 0.499941 5.00977C0.496013 4.23288 0.674977 3.46539 1.0224 2.77051C1.36979 2.07574 1.87622 1.47273 2.49994 1.00977C3.36239 0.353683 4.41631 -0.00191156 5.49994 -0.00195312ZM11.6972 9.00391L11.6601 9.0918L11.6249 9.17676V9.17773L11.6982 9.00391L11.7695 8.83398L11.6972 9.00391Z" fill="#008BDC"/>
                            <path d="M5.49994 -0.00195312C6.5836 -0.00195312 7.63746 0.353683 8.49994 1.00977C8.87843 1.2945 9.21522 1.63127 9.49994 2.00977C9.78463 1.6313 10.1215 1.29449 10.4999 1.00977C11.3637 0.357422 12.4176 0.00616027 13.4999 0.00976562C14.807 0.0188669 16.0604 0.530695 16.9999 1.43945C17.4747 1.90485 17.8518 2.46031 18.1093 3.07324C18.3669 3.68624 18.4998 4.34486 18.4999 5.00977C18.4996 12.5095 10.4999 17.0098 9.49994 17.0098C8.49914 17.0092 0.500288 12.509 0.499941 5.00977C0.496013 4.23288 0.674977 3.46539 1.0224 2.77051C1.36979 2.07574 1.87622 1.47273 2.49994 1.00977C3.36239 0.353683 4.41631 -0.00191156 5.49994 -0.00195312ZM11.6972 9.00391L11.6601 9.0918L11.6249 9.17676V9.17773L11.6982 9.00391L11.7695 8.83398L11.6972 9.00391Z" fill="black" fill-opacity="0.2"/>
                        </svg>
                    {% endif %}
                </button>
            </form>
        
        <div class="desktop">
            <section class="adres">
                <h1 class="straat"> {{ huis.street }} 11</h1>
                <p class="tekst-postcode"> {{ huis.postal_code }} {{ huis.city }}</p>
                <img class="image-kaart-adres" src="/assets/map.png" alt="image van plaats in Amsterdam">
            </section>

            <!-- MARK: Informatie huis-->
            <section class="info-oppervlakte"> 

                {% render 'partials/icons/oppervlakte.liquid' %}
                <p class="tekst-icons"> {{ huis.m2_garden }} m²</p>

                {% render 'partials/icons/oppervlakte2.liquid' %}
                <p class="tekst-icons"> {{ huis.m2 }} m²</p>


                {% render 'partials/icons/room.liquid' %}
                <p class="tekst-icons"> {{ huis.rooms }}</p>
                
               {% render 'partials/icons/electric.liquid' %}
                <p class="tekst-icons">C</p>
            </section>

            <section class="maandlasten">
                <p class="tekst-price"> {{ huis.price }} k.k.  </p>

                <a href="https://www.funda.nl/hypotheek/maandlasten/ing/?id=43923245">
                {% render 'partials/icons/calculator.liquid' %}
                    <p>Wat worden mijn maandlasten?</p>
                </a>
            </section>
        </article>

        <!-- MARK: beschrijving huis -->
        <article class="omschrijving">
            <input id="check" type="checkbox">
            
            <h1 class="straat omschrijf">Omschrijving</h1>
            <p>Onttrokken aan het zicht ligt deze verborgen parel op haar parkachtige domein van 4345m2. De bungalow ligt aan de Stationsweg, een van de bekendste..</p>

            <div class="content">
                <p class="tekst-icons"> {{ huis.description }}</p>
                <label for="check"> 
                    <img src="/assets/line.png" alt="icoon van een streep">
                    <p>Verberg omschrijving</p>
                </label>
            </div>

            <label for="check">
                <img src="/assets/plus.png" alt="icoon van een plus">
                <p> Lees de volledige omschrijving </p>
            </label>
        </article>
                    
        <button class="advertentie-button">Advertentie</button>

        <article class="advertentie">
            <img class="logo-thuis-in-staal" src="/assets/Advertiser.png" alt="logo van thuis in staal">
            <h1 class="design-stalen-deur-h1">Design stalen deuren</h1>
            <p class="design-stalen-deur-p">Al meer dan 1200 tevreden klanten door heel Nederland. Meer dan 10 jaar ervaring.</p>
            <button class="offerte">Offerte vragen</button>
            <img class="image-staal" src="/assets/imagethuis.png" alt="image van voorbeeld huis van thuis in staal">
        </article>

        <!--MARK: description lists --> 

        <article>
            <h1 class="kenmerken">Kenmerken</h1>

            <section class="description-list">
                <div class="naam-kenmerk-tabel">
                    {% render 'partials/icons/overdracht.liquid' %}
                    <h2>Overdracht</h2>
                </div>

                <dL>
                    <dt>Vraagprijs</dt>
                    <dd class="detail-standard">€ 3.250.000 kosten per koper</dd>

                    <dt>Vraagprijs per m²</dt>
                    <dd class="detail-standard">{{ huis.m2 }} m²</dd>

                    <dt>Aangeboden sinds</dt>
                    <dd class="detail-standard">31 Maart 2021</dd>

                    <dt>Status</dt>
                    <dd class="detail-standard">Beschikbaar</dd>

                    <dt>Aanvaarding</dt>
                    <dd class="detail-standard">In overleg</dd>

                    <dt>Bijdrage VVE</dt>
                    <dd class="detail-standard">€ 130,00 per maand</dd>
                </dL>
            </section>
            
            <section class="description-list">

                <div class="naam-kenmerk-tabel">
                    {% render 'partials/icons/bouw.liquid' %}
                    <h2>Bouw</h2>
                </div>

                <dl>
                    <dt>Soort huis</dt>
                    <dd class="detail-standard">Villa, vrijstaande woning</dd>

                    <dt>Soort bouw</dt>
                    <dd class="detail-standard">Bestaande bouw</dd>

                    <dt>Bouwperiode</dt>
                    <dd class="detail-standard">1906-1930</dd>

                    <dt>Soort dak</dt>
                    <dd class="detail-standard">Zadeldak bedekt met pannen</dd>
                </dl>
            </section>
            
            <section class="description-list">
                <div class="naam-kenmerk-tabel">
                    {% render 'partials/icons/inhoud.liquid' %}
                    <h2>Oppervlakten en inhoud</h2>
                </div>

                <dl>
                    <dt>Gebruikersoppervlakten</dt>
                    <dd class="detail-padding">Wonen</dd>
                    <dd class="detail-padding-border">571 m²</dd>

                    <dd class="detail-padding">Overige inpandige ruimte</dd>
                    <dd class="detail-padding-border">311 m²</dd>

                    <dd class="detail-padding">Gebouwgebonden buitenruimte</dd>
                    <dd class="detail-padding-border">311 m²</dd>

                    <dt>Externe bergruimte</dt>
                    <dd class="detail-standard">16 m²</dd>

                    <dt>Perceel</dt>
                    <dd class="detail-standard">620 m²</dd>

                    <dt>Inhoud</dt>
                    <dd class="detail-standard">1.750 m²</dd>
                </dl>
            </section>

            <section class="description-list">
                <div class="naam-kenmerk-tabel">
                    {% render 'partials/icons/indeling.liquid' %}
                    <h2>Indeling</h2>
                </div>

                <dl>
                    <dd class="detail-standard">Aantal kamers<br>14 kamers (9 slaapkamers)</dd>

                    <dt>Aantal badkamers</dt>
                    <dd class="detail-standard">3 badkamers en 1 apart toilet</dd>

                    <dt>Badkamervoorzieningen</dt>
                    <dd class="detail-standard">3 ligbaden, 2 douches en 2 toiletten</dd>

                    <dt>Aantal woonlagen</dt>
                    <dd class="detail-standard">3 woonlagen en een kelder</dd>

                    <dt>Voorzieningen</dt>
                    <dd class="detail-standard">Dakraam, rolluiken, mechanische ventilatie en TV kabel</dd>
                </dl>
            </section>

            <section class="description-list">
                <div class="naam-kenmerk-tabel">
                    {% render 'partials/icons/energie.liquid' %}

                    <h2>Energie</h2>
                </div>

                <dl>
                    <div class="naam-kenmerk-tabel">
                        {% render 'partials/icons/energielabel.liquid' %}
                        <dd>Energielabel</dd>
                    </div>

                    <div class="naam-kenmerk-tabel">
                        <img src="/assets/energy-label.png" alt="icoon van i voor meer informatie over energielabel">
                        <dd>Energielabel A</dd>
                    </div>

                    <dt>Verwarming</dt>
                    <dd class="detail-standard">Cv-ketel</dd>

                    <dt>Warm water</dt>
                    <dd class="detail-standard">Cv-ketel</dd>

                    <dt>Cv-ketel</dt>
                    <dd class="detail-standard">Remeha (2005)</dd>
                </dl>
            </section>

            <section class="description-list"> 
                <div class="naam-kenmerk-tabel">
                    {% render 'partials/icons/kadaster.liquid' %}
                    <h2>Kadastrale gegevens</h2>
                </div>

                <dl>
                    <dt>AMSTERDAM AB 678</dt>
                    <a href="">
                        <dl><dd class="detail-standard">Kadastrale kaart</dd></dl>
                    </a>

                    <dt>Oppervlakte</dt>
                    <dd class="detail-standard">620 m²</dd>

                    <dt>Eigendomssituatie</dt>
                    <dd class="detail-standard">Gemeentelijk erfpacht</dd>

                    <dt>Lasten</dt>
                    <dd class="detail-standard">Afgekocht tot 31-05-2052</dd>
                </dl>
            </section>

            <section class="description-list">
                <div class="naam-kenmerk-tabel">
                    {% render 'partials/icons/buitenruimte.liquid' %}
                    <h2>Buitenruimte</h2>
                </div>

                <dl>
                    <dt>Ligging</dt>
                    <dd class="detail-standard">Aan drukke weg en in woonwijk</dd>

                    <dt>Tuin</dt>
                    <dd class="detail-standard">Tuin rondom</dd>

                    <dt>Balkon/dakterras</dt>
                    <dd class="detail-standard">Balkon aanwezig</dd>
                </dl>
            </section>

            <section class="description-list">
                <div class="naam-kenmerk-tabel">
                    {% render 'partials/icons/garage.liquid' %}
                    <h2>Garage</h2>
                </div>

                <dl>
                    <dt>Soort garage</dt>
                    <dd class="detail-standard">Vrijstaande stenen garage</dd>

                    <dt>Capaciteit</dt>
                    <dd class="detail-standard">2 auto’s</dd>

                    <dt>Voorzieningen</dt>
                    <dd class="detail-standard">Elektra</dd>
                </dl>
            </section>

            <section class="description-list">
                <div class="naam-kenmerk-tabel">
                    {% render 'partials/icons/parkeergelegenheid.liquid' %}
                    <h2>Parkeergelegenheid</h2>
                </div>

                <dl>
                    <dt>Soort parkeergelegenheid</dt>
                    <dd class="detail-standard">Betaald parkeren parkeervergunningen</dd>
                </dl>
            </section>
        </article>

        <article class="betalen-ing">
            <h2 class="ing">Kan je dit huis betalen?</h2>
            <p class="p-ing">Bereken nu direct hoeveel je kunt lenen. <a href="">Bereken nu</a></p>
            <img class="logo-ing"src="/assets/ING.png" alt="logo van de ING bank">
        </article>

        <article class="verandering">
            <img class="huis" src="/assets/illustration.png" alt="foto van huis met hart uit schoorsteen">
            <h2 class="h2-verandering">Direct weten als er iets verandert?</h2>
            <p class="p-verandering">Bewaar dit huis als favoriet, en ontvang een e-mail als de prijs of status verandert.</p>
            
            <button class="button-verandering">
                <svg width="24" height="24" viewBox="0 -4 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M19.5001 4.9287C18.5606 4.0199 17.3072 3.5078 16.0001 3.4987C14.9176 3.49505 13.8638 3.84632 13.0001 4.4987C12.6215 4.78348 12.2848 5.12011 12.0001 5.4987C11.7153 5.12011 11.3787 4.78348 11.0001 4.4987C10.1376 3.84258 9.08376 3.4873 8.00006 3.4873C6.91637 3.4873 5.86256 3.84258 5.00006 4.4987C4.37618 4.9617 3.87004 5.56506 3.52259 6.25996C3.17514 6.95486 2.99613 7.72179 3.00006 8.4987C3.00006 15.9987 11.0001 20.4987 12.0001 20.4987C13.0001 20.4987 21.0001 15.9987 21.0001 8.4987C21 7.83379 20.8673 7.17559 20.6097 6.56259C20.3521 5.9496 19.9749 5.39413 19.5001 4.9287ZM12.0001 18.9287C9.31722 17.6013 7.09973 15.4919 5.64006 12.8787C4.90844 11.5336 4.51706 10.0298 4.50006 8.4987C4.50039 7.69533 4.77707 6.91652 5.28367 6.29302C5.79027 5.66951 6.49595 5.23927 7.28225 5.0745C8.06854 4.90974 8.88758 5.02049 9.60188 5.38816C10.3162 5.75583 10.8822 6.35804 11.2051 7.0937C11.2351 7.1637 11.2601 7.2387 11.2901 7.3137C11.3403 7.46077 11.4353 7.58845 11.5617 7.67886C11.6881 7.76926 11.8396 7.81787 11.9951 7.81787C12.1505 7.81787 12.302 7.76926 12.4284 7.67886C12.5548 7.58845 12.6498 7.46077 12.7001 7.3137C12.7251 7.2387 12.7551 7.1637 12.7851 7.0937C13.1042 6.35191 13.67 5.7433 14.3866 5.37103C15.1032 4.99876 15.9265 4.88574 16.7169 5.05112C17.5073 5.2165 18.2162 5.65011 18.7235 6.27845C19.2307 6.90678 19.5051 7.69119 19.5001 8.4987C19.4872 10.0383 19.0956 11.5511 18.3601 12.9037C16.9004 15.5169 14.6829 17.6263 12.0001 18.9537V18.9287Z" fill="#0071B3"/>
                </svg> Bewaren
            </button>
        </article>

        <article >
            <h1 class="h1-activiteit">Activiteit</h1>

            <section class="activiteit">
                <div class="activiteit-info">
                    <img src="/assets/oog.png" alt="icon van oog">
                    <p>75x</p>
                    <p>bekenen</p>
                </div>

                <div class="activiteit-info">
                    <img src="/assets/hart.png" alt="icon van hart">
                    <p>12x</p>
                    <p>bewaard</p>
                </div>

                <div class="activiteit-info">
                    <img src="/assets/agenda.png" alt="icon van hart">
                    <p>31-12-2024</p>
                    <p>Op funda</p>
                </div>
            </section>
        </article>

        <h1 class="h1-buurt">Buurt</h1>

        <article class="description-list">
            
            <div class="buurt-groep">
                <img src="/assets/thumpnail.png" alt="afbeelding van de Pijp in Amsterdam">
                <a href="">Nieuwe pijp</a>
                <p>Amsterdam</p>
                <img class="pijl" src="/assets/pijl.png" alt="icon van een pijl die naar rechts wijst">
            </div>

            <dl>
                <dt>Inwoners</th>
                <dd class="detail-standard">12.450</td>

                <dt>Gezinnen met kinderen</th>
                <dd class="detail-standard">55%</td>

                <dt>Gem. vraagprijs / m²</th>
                <dd class="detail-standard">€ 3.078</td>
            </dl>
        </article>

        {% comment %} Google maps kaart {% endcomment %}
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2437.2226894504543!2d4.879990576692972!3d52.34824624893146!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c609f65ebcbf19%3A0x156af697d4fe380d!2sApollolaan%2011%2C%201077%20AA%20Amsterdam!5e0!3m2!1snl!2snl!4v1749243620818!5m2!1snl!2snl" 
            width="360" 
            height="450" 
            style="border:0;" 
            allowfullscreen="" 
            loading="lazy" 
            referrerpolicy="no-referrer-when-downgrade"
            title="Google maps kaart Apollolaan 11 en omgeving"
            >
        </iframe> 

        <div class="tools-maps">
            <a href="">
                <img src="/assets/trailing.png" alt="afbeelding van 2 pijlen"> 
                Open grotere kaart
            </a>

            <a href="https://maps.app.goo.gl/PNPDyXHqSRXXcPrj8">
                <img src="/assets/left.png" alt="afbeelding van aanwijzer">
                Bereken reistijd op Google Maps
            </a>
        </div>

        <article class="bm-makelaars">
            <img src="/assets/bm.png" alt="afbeelding van logo BM">

            <a href="">
                <h2>B&M Makelaars</h2>
            </a>

            <a class="link-tel" href="">
                <img src="/assets/tel.png" alt="icoon van telefoon">
                <p>Toon telefoonnummer</p>
            </a>

            <button>                
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M21.25 4.99854H2.75C2.33579 4.99854 2 5.33432 2 5.74854V18.2485C2 18.6627 2.33579 18.9985 2.75 18.9985H21.25C21.6642 18.9985 22 18.6627 22 18.2485V5.74854C22 5.33432 21.6642 4.99854 21.25 4.99854ZM11.56 13.1085C11.8225 13.2987 12.1775 13.2987 12.44 13.1085L20.5 7.28354V17.4985H3.5V7.28354L11.56 13.1085ZM4.975 6.49854H19.025L12 11.5735L4.975 6.49854Z" fill="white"/>
                </svg>Neem contact op
            </button>

            <a href="">
                <img src="/assets/agenda2.png" alt="icoon van agenda">
                <p>Vraag bezichtiging aan</p>
            </a>

        </article>
        <a class="fout-melden" href="">Meld een fout over deze woning</a>


<!-- MARK: Carousel-->


        <article class="vergelijkbaar">
            <h2>Vergelijkbaar in de buurt</h2>

            <button>Te koop</button>
            <button>Verkocht</button>
        </article>

        <article class="carousel-2">
            <section class="aanbevelingen ">
                <img src="https://fdnd-agency.directus.app/assets/{{ huis.poster_image }}?height=205" alt="afbeelding van een huis aan de buitenkant">

                <h2>Jan Peppinkstraat 2</h2>
                <p class="price">1069 PH Amsterdam</p>
                <p class="price">€ 575.000 k.k.</p>

                <div class="info-oppervlakte">
                    {% render 'partials/icons/oppervlakte.liquid' %}
                    <p> {{ huis.m2_garden }} m²</p>

                    {% render 'partials/icons/oppervlakte2.liquid' %}
                    <p> {{ huis.m2 }} m²</p>

                    {% render 'partials/icons/room.liquid' %}
                    <p> {{huis.rooms}}</p>
                    
                    {% render 'partials/icons/electric.liquid' %}
                    <p>C</p>
                </div>
                
                <p class="price">Frisia Makelaars</p>

            </section>

             <section class="aanbevelingen">
                <img src="https://fdnd-agency.directus.app/assets/{{ huis.poster_image }}?height=205" alt="afbeelding van een huis aan de buitenkant">

                <h2>Jan Peppinkstraat 2</h2>
                <p class="price">1069 PH Amsterdam</p>
                <p class="price">€ 575.000 k.k.</p>

                <div class="info-oppervlakte">
                    {% render 'partials/icons/oppervlakte.liquid' %}
                    <p> {{ huis.m2_garden }} m²</p>

                    {% render 'partials/icons/oppervlakte2.liquid' %}
                    <p> {{ huis.m2 }} m²</p>

                    {% render 'partials/icons/room.liquid' %}
                    <p> {{huis.rooms}}</p>
                    
                    {% render 'partials/icons/electric.liquid' %}
                    <p>C</p>
                </div>
                
                <p class="price">Frisia Makelaars</p>

            </section>

             <section class="aanbevelingen">
                <img src="https://fdnd-agency.directus.app/assets/{{ huis.poster_image }}?height=205" alt="afbeelding van een huis aan de buitenkant">

                <h2>Jan Peppinkstraat 2</h2>
                <p class="price">1069 PH Amsterdam</p>
                <p class="price">€ 575.000 k.k.</p>

                <div class="info-oppervlakte">
                    {% render 'partials/icons/oppervlakte.liquid' %}
                    <p> {{ huis.m2_garden }} m²</p>

                    {% render 'partials/icons/oppervlakte2.liquid' %}
                    <p> {{ huis.m2 }} m²</p>

                    {% render 'partials/icons/room.liquid' %}
                    <p> {{huis.rooms}}</p>
                    
                    {% render 'partials/icons/electric.liquid' %}
                    <p>C</p>
                </div>
                
                <p class="price">Frisia Makelaars</p>

            </section>

             <section class="aanbevelingen">
                <img src="https://fdnd-agency.directus.app/assets/{{ huis.poster_image }}?height=205" alt="afbeelding van een huis aan de buitenkant">

                <h2>Jan Peppinkstraat 2</h2>
                <p class="price">1069 PH Amsterdam</p>
                <p class="price">€ 575.000 k.k.</p>

                <div class="info-oppervlakte">
                    {% render 'partials/icons/oppervlakte.liquid' %}
                    <p> {{ huis.m2_garden }} m²</p>

                    {% render 'partials/icons/oppervlakte2.liquid' %}
                    <p> {{ huis.m2 }} m²</p>

                    {% render 'partials/icons/room.liquid' %}
                    <p> {{huis.rooms}}</p>
                    
                    {% render 'partials/icons/electric.liquid' %}
                    <p>C</p>
                </div>
                
                <p class="price">Frisia Makelaars</p>

            </section>
        </article>

        <article class="FAQ">

            <h1>Antwoord op al je belangrijke vragen</h1>

            <section>
                <input id="faq1" type="checkbox" class="toggle">

                <div class="vraag">
                    <p>Wil je weten hoe je als een pro op funda kunt zoeken?</p>
                    <label for="faq1">
                        <img src="/assets/down.png" alt="icon van pijltje naar beneden">
                    </label>
                </div>

                <div class="antwoord">
                    <p>Funda toont niet alleen beschikbare woningen, je ziet er ook verkochte woningen staan. Dat doen we zodat een potentiële verkoper kan zien welke woningen succesvol zijn verkocht door de makelaar. Dit helpt de potentiële verkoper in de zoektocht naar een makelaar. Een verkochte woning staat maximaal een jaar op Funda, daarna verdwijnt de woning automatisch van de site.</p>
                </div>
                
            </section>

            <section>
                <input id="faq2" type="checkbox" class="toggle">

                <div class="vraag">
                    <p>Wat betekent 'onder bod' als je een huis wilt kopen?</p>

                    <label for="faq2">
                        <img src="/assets/down.png" alt="icon van pijltje naar beneden">
                    </label>
                </div>

                <div class="antwoord">
                    <p>Wanneer een huis 'onder bod' is, kan dat verwarrend zijn. Dit betekent dat er al een bod is uitgebracht dat de verkoper overweegt. Het betekent echter niet dat de verkoop al rond is.</p>
                </div>

            </section>

            <section>
                <input id="faq3" type="checkbox" class="toggle">

                <div class="vraag">
                    <p>Waarop moet je letten bij het bezichtigen van een huis?</p>
                    <label for="faq3">
                        <img src="/assets/down.png" alt="icon van pijltje naar beneden">
                </label>
                </div>

                <div class="antwoord">
                    <p>Stel tijdens een bezichtiging alle vragen die je hebt om te kunnen bepalen of dit huis aan je wensen en verwachtingen voldoet. Bijvoorbeeld waarom de verkopers willen verkopen. Wat voor buren je krijgt. Of wanneer de cv-ketel voor het laatst vervangen is. Het is handig om een lijstje met vragen voor te bereiden, zodat je niets vergeet. Deze checklist helpt je op weg, zodat je niets vergeet.</p>
                </div>

                
            </section>

            <section>
                <input id="faq4" type="checkbox" class="toggle">

                <div class="vraag">
                    <p>Voorbeeldbrief voor een bod op een huis: hoe doe ik dit?</p>
                    <label for="faq4">
                        <img src="/assets/down.png" alt="icon van pijltje naar beneden">
                    </label>
                </div>

                <div class="antwoord">
                    <p>Een bod uitbrengen op een huis is een grote stap en het kan helpen om een goed voorbeeld te hebben van hoe je dat het beste kunt doen. Een duidelijke en goed gestructureerde brief kan het verschil maken.</p>
                </div>
            </section>

        </article>

        <article class="verdiepen">
            <h1 class="h1-buurt">Verder verdiepen</h1>
            <button>Bieden</button>
            <button>Verduurzamen</button>
            <button>Hypotheek</button>
        </article>
        </div>
    </main>
       

{% render 'partials/footer.liquid' %}


<script type="module">

  // Als er ergens op de pagina een formulier wordt gesubmit..
  // (We maken hier gebruik van Event Delegation)
  document.addEventListener('submit', async function(event) {

    // Hou in een variabele bij welk formulier dat was
    const form = event.target

    // Als dit formulier geen data-enhanced attribuut heeft, doe dan niks speciaals (laat het formulier normaal versturen)
    // Dit doen we, zodat we sommige formulieren op de pagina kunnen 'enhancen'
    // Door ze bijvoorbeeld data-enhanced="true" of data-enhanced="formulier-3" te geven.
    // Data attributen mag je zelf verzinnen: https://developer.mozilla.org/en-US/docs/Learn_web_development/Howto/Solve_HTML_problems/Use_data_attributes
    if (!form.hasAttribute('data-enhanced')) {
      return
    }

    // Voorkom de standaard submit van de browser
    // Let op: hiermee overschrijven we de default Loading state van de browser...
    event.preventDefault()

    // Verzamel alle formuliervelden van het formulier
    let formData = new FormData(form)

    // En voeg eventueel de name en value van de submit button toe aan die data
    // https://developer.mozilla.org/en-US/docs/Web/API/SubmitEvent/submitter
    if (event.submitter) {
      formData.append(event.submitter.name, event.submitter.value)
    }

    // Doe een fetch naar de server, net als hoe de browser dit normaal zou doen
    // Gebruik daarvoor het action en method attribuut van het originele formulier
    // Inclusief alle formuliervelden
    const response = await fetch(form.action, {
      method: form.method,
      body: new URLSearchParams(formData)
    })

    // De server redirect op de normale manier, en geeft HTML terug
    // (De server weet niet eens dat deze fetch via client-side JavaScript gebeurde)
    const responseText = await response.text()

    // Normaal zou de browser die HTML parsen en weergeven, maar daar moeten we nu zelf iets mee
    // Parse de nieuwe HTML en maak hiervan een nieuw Document Object Model in het geheugen
    const parser = new DOMParser()
    const responseDOM = parser.parseFromString(responseText, 'text/html')

    // Zoek in die nieuwe HTML DOM onze nieuwe UI state op, die we via Liquid hebben klaargemaakt
    // We gebruiken hiervoor het eerdere data-enhanced attribuut, zodat we weten waar we naar moeten zoeken
    // In de nieuwe HTML zoeken we bijvoorbeeld naar data-enhanced="true" of data-enhanced="formulier-3"
    // (Hierdoor kunnen we ook meerdere formulieren op dezelfde pagina gebruiken)
    const newState = responseDOM.querySelector('[data-enhanced="' + form.getAttribute('data-enhanced') + '"]')

    // Overschrijf ons formulier met de nieuwe HTML
    // Hier wil je waarschijnlijk de Loading state vervangen door een Success state
    form.outerHTML = newState.outerHTML

  })

</script>

