{% render 'partials/head.liquid', title: 'Funda' %}
{% render 'partials/header.liquid' %}

<body>

    <main>
        <article>
            <section>
                <img src="https://fdnd-agency.directus.app/assets/{{ huis.poster_image }}">
                <h1> {{ huis.street }}</h1>
                <p> {{ huis.postal_code }} {{ huis.city }}</p>
                <img src="/assets/map.png">
            </section>

            <section class="info-oppervlakte"> 

                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M19.2644 16.1379V7.88794C20.4018 7.53772 21.1346 6.4343 21.0163 5.25013C20.898 4.06596 19.9614 3.12932 18.7772 3.01102C17.593 2.89272 16.4896 3.62557 16.1394 4.76294H7.8894C7.53919 3.62557 6.43577 2.89272 5.2516 3.01102C4.06742 3.12932 3.13078 4.06596 3.01249 5.25013C2.89419 6.4343 3.62703 7.53772 4.7644 7.88794V16.1379C3.62703 16.4881 2.89419 17.5916 3.01249 18.7757C3.13078 19.9599 4.06742 20.8966 5.2516 21.0149C6.43577 21.1331 7.53919 20.4003 7.8894 19.2629H16.1394C16.4896 20.4003 17.593 21.1331 18.7772 21.0149C19.9614 20.8966 20.898 19.9599 21.0163 18.7757C21.1346 17.5916 20.4018 16.4881 19.2644 16.1379ZM16.1394 17.7629H7.8894C7.64354 16.9897 7.03768 16.3838 6.2644 16.1379V7.88794C7.03768 7.64208 7.64354 7.03622 7.8894 6.26294H16.1394C16.3853 7.03622 16.9911 7.64208 17.7644 7.88794V16.1379C16.9911 16.3838 16.3853 16.9897 16.1394 17.7629ZM18.5144 4.51294C19.0667 4.51294 19.5144 4.96065 19.5144 5.51294C19.5144 6.06522 19.0667 6.51294 18.5144 6.51294C17.9621 6.51294 17.5144 6.06522 17.5144 5.51294C17.5144 4.96065 17.9621 4.51294 18.5144 4.51294ZM5.5144 4.51294C6.06669 4.51294 6.5144 4.96065 6.5144 5.51294C6.5144 6.06522 6.06669 6.51294 5.5144 6.51294C4.96212 6.51294 4.5144 6.06522 4.5144 5.51294C4.5144 4.96065 4.96212 4.51294 5.5144 4.51294ZM5.5144 19.5129C4.96212 19.5129 4.5144 19.0652 4.5144 18.5129C4.5144 17.9607 4.96212 17.5129 5.5144 17.5129C6.06669 17.5129 6.5144 17.9607 6.5144 18.5129C6.5144 19.0652 6.06669 19.5129 5.5144 19.5129ZM18.5144 19.5129C17.9621 19.5129 17.5144 19.0652 17.5144 18.5129C17.5144 17.9607 17.9621 17.5129 18.5144 17.5129C19.0667 17.5129 19.5144 17.9607 19.5144 18.5129C19.5144 19.0652 19.0667 19.5129 18.5144 19.5129Z" fill="#4D4D4D"/>
                </svg>                
                <p> {{ huis.m2_garden }} m²</p>

                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M21.5 2.74854C21.5 2.33432 21.1642 1.99854 20.75 1.99854H3.25C2.83579 1.99854 2.5 2.33432 2.5 2.74854V21.2485C2.5 21.6627 2.83579 21.9985 3.25 21.9985H20.75C21.1642 21.9985 21.5 21.6627 21.5 21.2485V2.74854ZM4 7.24854H10.5V9.74854C10.5 10.1627 10.8358 10.4985 11.25 10.4985H15V20.4985H4V7.24854ZM16.5 9.74854C16.5 9.33432 16.1642 8.99854 15.75 8.99854H12V6.49854C12 6.08432 11.6642 5.74854 11.25 5.74854H4V3.49854H20V20.4985H16.5V9.74854Z" fill="#4D4D4D"/>
                </svg>
                <p> {{ huis.m2 }} m²</p>


                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M20 9.99854L22 12.9985V17.7485C22 18.1627 21.6642 18.4985 21.25 18.4985H19.5V19.2485C19.5 19.6627 19.1642 19.9985 18.75 19.9985C18.3358 19.9985 18 19.6627 18 19.2485V18.4985H6V19.2485C6 19.6627 5.66421 19.9985 5.25 19.9985C4.83579 19.9985 4.5 19.6627 4.5 19.2485V18.4985H2.75C2.33579 18.4985 2 18.1627 2 17.7485V12.9985L4 9.99854V4.74854C4 4.33432 4.33579 3.99854 4.75 3.99854H19.25C19.6642 3.99854 20 4.33432 20 4.74854V9.99854ZM18.5 5.49854H5.5V8.49854H8.5V7.74854C8.5 7.33432 8.83579 6.99854 9.25 6.99854H14.75C15.1642 6.99854 15.5 7.33432 15.5 7.74854V8.49854H18.5V5.49854ZM5.5 9.99854L3.5 12.9985H20.5L18.5 9.99854H15.5V10.7485C15.5 11.1627 15.1642 11.4985 14.75 11.4985H9.25C8.83579 11.4985 8.5 11.1627 8.5 10.7485V9.99854H5.5ZM3.5 16.9985V14.4985H20.5V16.9985H3.5ZM10 8.49854V9.99854H14V8.49854H10Z" fill="#4D4D4D"/>
                </svg>
                <p> {{huis.rooms}}</p>
                
                
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M11.8376 6.44406L8.41164 12.9753L11.9275 13.7893L12.1735 17.7254L15.829 11.039L12.0738 10.2239L11.8376 6.44406ZM13.0625 1.99558L13.5002 8.99854L16.6369 9.67939C17.4472 9.85527 17.7847 10.5887 17.3868 11.3166L11.4775 22.1254C11.2129 22.6095 10.9723 22.5522 10.9379 22.0015L10.5002 14.9985L7.64332 14.3371C6.83705 14.1504 6.49345 13.403 6.87879 12.6684L12.5368 1.88187C12.7924 1.39471 13.0281 1.44493 13.0625 1.99558Z" fill="#4D4D4D"/>
                </svg>
                <p>C</p>
            </section>

                <p> €{{ huis.price }} k.k. </p>

                <button>
                    <img src="/assets/calculator.png">
                    <p>Wat worden mijn maandlasten?</p>
                </button>
            </article>

        <article>
            <h1>Omschrijving</h1>
            <p> {{ huis.description }}</p>

            <button>
                <img src="/assets/plus.png">
                <p>Lees de volledige omschrijving</p>
            </button>
        </article>

        <article>
            <button>Advertentie</button>
            <img src="/assets/advertiser.png">
            <h1>Design stalen deuren</h1>
            <p>Al meer dan 1200 tevreden klanten door heel Nederland. Meer dan 10 jaar ervaring.</p>
            <button>Offerte vragen</button>
        </article>

        <article>
            <h1>Kenmerken</h1>
            <section class="description-list">
                <div>
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M10.0557 20.8902C9.76275 21.1807 9.28875 21.1802 8.99725 20.8882C8.70575 20.5967 8.70525 20.1227 8.99525 19.8302L8.99725 19.8277L9.88175 18.9432L10.9423 20.0037L10.0557 20.8902ZM7.93625 18.7672C7.93575 18.7677 7.93475 18.7682 7.93425 18.7692C7.64175 19.0592 7.16775 19.0587 6.87575 18.7672C6.58425 18.4752 6.58375 18.0012 6.87375 17.7087C6.87475 17.7082 6.87525 17.7072 6.87575 17.7067L7.40675 17.1752L7.76025 16.8222C7.76075 16.8222 7.76075 16.8217 7.76075 16.8217C8.05325 16.5292 8.52875 16.5297 8.82125 16.8217C9.11375 17.1142 9.11375 17.5902 8.82125 17.8827L7.93625 18.7672ZM6.70025 15.7612H6.69975L5.81525 16.6457C5.81425 16.6467 5.81375 16.6467 5.81275 16.6477C5.52025 16.9382 5.04625 16.9377 4.75475 16.6457C4.46275 16.3542 4.46225 15.8802 4.75275 15.5872L5.63925 14.7002L5.91375 14.4262L7.40675 12.9327C7.69925 12.6402 8.17525 12.6402 8.46775 12.9327C8.75975 13.2252 8.75975 13.7007 8.46775 13.9932C8.46725 13.9932 8.46725 13.9937 8.46725 13.9937L6.70025 15.7612ZM17.1297 18.7662C17.3167 18.5792 17.4552 18.3647 17.5623 18.1387C17.6903 17.8697 17.7623 17.5837 17.7773 17.2927C18.0688 17.2777 18.3547 17.2057 18.6232 17.0777C18.8492 16.9702 19.0642 16.8322 19.2507 16.6452C19.4377 16.4582 19.5763 16.2432 19.6838 16.0177C20.0468 15.2542 19.9573 14.3352 19.4132 13.6542L22.4322 10.6357C22.4322 10.6352 22.4328 10.6352 22.4333 10.6347C22.4333 10.6342 22.4333 10.6342 22.4338 10.6337C22.7257 10.3407 22.7257 9.86616 22.4333 9.57366C22.1403 9.28116 21.6652 9.28116 21.3722 9.57366L18.3668 12.5792L12.3567 6.56866L12.5332 6.39216C12.8263 6.09916 12.8263 5.62416 12.5332 5.33116C12.2402 5.03866 11.7657 5.03866 11.4727 5.33116L10.0317 6.77216L9.89775 6.90666L8.99825 7.80516L8.99725 7.80666C8.70475 8.09866 8.22925 8.09816 7.93725 7.80616C7.64525 7.51366 7.64475 7.03866 7.93675 6.74616L9.12475 5.55816L9.17425 5.50816L11.4727 3.20966C11.5347 3.14766 11.6062 3.10216 11.6812 3.06616C11.9597 2.93366 12.3027 2.97966 12.5332 3.20966L14.3013 4.97766C14.5943 5.27066 15.0693 5.27066 15.3617 4.97766L15.8923 4.44766L16.0697 4.26966C16.3573 3.98216 16.3608 3.52066 16.0837 3.22666C16.0787 3.22066 16.0752 3.21466 16.0697 3.20916C16.0642 3.20366 16.0582 3.20016 16.0522 3.19516C15.7583 2.91816 15.2968 2.92166 15.0087 3.20916L14.8313 3.38666L13.5942 2.14916C13.4067 1.96216 13.1932 1.82166 12.9668 1.71616C12.6982 1.59066 12.4113 1.51666 12.1208 1.50166C12.0417 1.49766 11.9642 1.49766 11.8857 1.50166C11.5947 1.51666 11.3083 1.59066 11.0398 1.71616C10.8133 1.82166 10.5992 1.96216 10.4122 2.14916L9.88325 2.67766C9.88275 2.67866 9.88225 2.67916 9.88175 2.67966C9.88175 2.67966 9.88125 2.67966 9.88125 2.68016L9.17425 3.38666L8.64575 2.85816C8.64525 2.85766 8.64475 2.85666 8.64425 2.85616C8.64375 2.85566 8.64325 2.85566 8.64275 2.85516C8.34975 2.56366 7.87625 2.56416 7.58375 2.85616C7.29075 3.14916 7.29075 3.62416 7.58375 3.91716L8.11375 4.44766L6.87575 5.68566C6.18425 6.37716 6.04675 7.40366 6.44375 8.23916C6.55125 8.46466 6.68975 8.67966 6.87675 8.86666C7.06375 9.05366 7.27875 9.19216 7.50425 9.29966C8.33975 9.69716 9.36625 9.55866 10.0577 8.86716C10.0582 8.86716 10.0588 8.86716 10.0588 8.86666L11.2957 7.62966L18.1877 14.5217L18.1922 14.5257C18.2537 14.5877 18.2992 14.6587 18.3342 14.7332C18.4662 15.0112 18.4207 15.3542 18.1903 15.5842C17.9603 15.8142 17.6178 15.8602 17.3393 15.7282C17.2648 15.6927 17.1938 15.6472 17.1322 15.5862L17.1297 15.5842L14.6547 13.1097C14.3617 12.8167 13.8872 12.8167 13.5942 13.1097C13.3012 13.4022 13.3012 13.8772 13.5942 14.1702L16.0693 16.6452C16.0697 16.6457 16.0703 16.6467 16.0708 16.6472C16.1322 16.7092 16.1773 16.7802 16.2128 16.8547C16.3453 17.1332 16.2992 17.4757 16.0693 17.7057C15.8387 17.9357 15.4962 17.9817 15.2177 17.8497C15.1432 17.8142 15.0722 17.7687 15.0107 17.7077C15.0097 17.7067 15.0087 17.7062 15.0083 17.7057L12.5332 15.2307C12.2408 14.9382 11.7657 14.9382 11.4727 15.2307C11.1797 15.5237 11.1797 15.9987 11.4727 16.2917L13.9478 18.7662C13.9482 18.7672 13.9487 18.7682 13.9497 18.7687C14.0107 18.8302 14.0563 18.9012 14.0913 18.9757C14.2238 19.2542 14.1777 19.5967 13.9478 19.8267C13.7172 20.0572 13.3747 20.1032 13.0962 19.9707C13.0217 19.9357 12.9513 19.8902 12.8892 19.8287L10.9427 17.8827L10.5293 17.4697C10.5487 17.1012 10.4692 16.7332 10.3108 16.3932C10.2048 16.1662 10.0697 15.9487 9.88175 15.7612C9.69525 15.5742 9.47975 15.4357 9.25425 15.3282L9.52825 15.0542C9.64975 14.9327 9.75075 14.7987 9.83875 14.6587C10.1982 14.0882 10.2722 13.3932 10.0702 12.7677C9.96475 12.4407 9.78825 12.1317 9.52825 11.8722C9.27025 11.6142 8.96425 11.4417 8.64025 11.3377C8.37425 11.2517 8.09675 11.2097 7.81975 11.2242C7.28375 11.2522 6.75575 11.4627 6.34625 11.8722L5.63925 12.5792L2.28075 9.22116C2.28075 9.22066 2.28075 9.22066 2.28025 9.22016L2.27975 9.21966C1.98675 8.92766 1.51225 8.92766 1.21975 9.22016C0.92675 9.51316 0.92675 9.98816 1.21975 10.2812L4.57825 13.6397L3.69175 14.5267C3.00225 15.2187 2.86375 16.2437 3.26075 17.0787C3.36825 17.3047 3.50725 17.5197 3.69425 17.7067C3.88075 17.8937 4.09575 18.0322 4.32175 18.1392C4.59025 18.2672 4.87625 18.3392 5.16725 18.3542C5.18275 18.6452 5.25475 18.9312 5.38225 19.1997C5.48975 19.4262 5.62825 19.6407 5.81525 19.8277C6.00225 20.0147 6.21725 20.1532 6.44325 20.2607C6.71175 20.3882 6.99775 20.4602 7.28875 20.4757C7.30425 20.7667 7.37575 21.0527 7.50375 21.3212C7.61125 21.5472 7.74975 21.7622 7.93675 21.9492C8.12325 22.1362 8.33825 22.2747 8.56425 22.3822C9.39875 22.7792 10.4242 22.6412 11.1163 21.9512C11.1167 21.9502 11.1177 21.9497 11.1187 21.9492C11.1192 21.9487 11.1198 21.9477 11.1208 21.9467L12.0173 21.0502C12.6982 21.5937 13.6178 21.6832 14.3807 21.3207C14.6062 21.2132 14.8212 21.0747 15.0083 20.8877C15.1953 20.7007 15.3337 20.4857 15.4412 20.2602C15.5693 19.9912 15.6407 19.7052 15.6558 19.4142C15.9473 19.3987 16.2332 19.3267 16.5017 19.1992C16.7277 19.0917 16.9427 18.9532 17.1297 18.7662Z" fill="#333333"/>
                    </svg>

                    <h2>Overdracht</h2>
                </div>

                <dL>
                    <dt>Vraagprijs</dt>
                    <span>€{{ huis.price }} kosten per koper</span>

                    <dt>Vraagprijs per m²</dt>
                    <span>{{ huis.m2 }} m²</span>

                    <dt>Aangeboden sinds</dt>
                    <span>31 Maart 2021</span>

                    <dt>Status</dt>
                    <span>Beschikbaar</span>

                    <dt>Aanvaarding</dt>
                    <span>In overleg</span>

                    <dt>Bijdrage VVE</dt>
                    <span>€ 130,00 per maand</span>
                </dL>
            </section>
            
            <section class="description-list">
                <div>
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M21 5.25354C21.0014 5.05376 20.9229 4.86171 20.7821 4.71997C20.6413 4.57824 20.4498 4.49853 20.25 4.49854H11.75C11.4481 4.49786 11.1755 4.67953 11.06 4.95854C11.0196 5.04982 10.9991 5.1487 11 5.24854V8.99854H7.50003C7.19847 8.99921 6.92663 9.18043 6.81003 9.45854C6.76958 9.54982 6.74912 9.6487 6.75003 9.74854V13.4985H3.25003C2.94847 13.4992 2.67663 13.6804 2.56003 13.9585C2.51958 14.0498 2.49912 14.1487 2.50003 14.2485V18.7485C2.50003 19.1628 2.83582 19.4985 3.25003 19.4985H20.25C20.6642 19.4985 21 19.1628 21 18.7485V5.25354ZM4.00003 14.9985H11V17.9985H4.00003V14.9985ZM19.5 10.4985V13.4985H16.75V10.4985H19.5ZM15.25 10.4985V13.4985H8.25003V10.4985H15.25ZM12.51 14.9985H19.51V17.9985H12.51V14.9985ZM12.51 5.99854H19.51V8.99854H12.51V5.99854Z" fill="#333333"/>
                    </svg>

                    <h2>Bouw</h2>
                </div>

                <dl>
                    <dt>Soort huis</dt>
                    <span>Villa, vrijstaande woning</span>

                    <dt>Soort bouw</dt>
                    <span>Bestaande bouw</span>

                    <dt>Bouwperiode</dt>
                    <span>1906-1930</span>

                    <dt>Soort dak</dt>
                    <span>Zadeldak bedekt met pannen</span>
                </dl>
            </section>
            
            <section class="description-list">
                <div>
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M19.2644 16.1379V7.88794C20.4018 7.53772 21.1346 6.4343 21.0163 5.25013C20.898 4.06596 19.9614 3.12932 18.7772 3.01102C17.593 2.89272 16.4896 3.62557 16.1394 4.76294H7.8894C7.53919 3.62557 6.43577 2.89272 5.2516 3.01102C4.06742 3.12932 3.13078 4.06596 3.01249 5.25013C2.89419 6.4343 3.62703 7.53772 4.7644 7.88794V16.1379C3.62703 16.4881 2.89419 17.5916 3.01249 18.7757C3.13078 19.9599 4.06742 20.8966 5.2516 21.0149C6.43577 21.1331 7.53919 20.4003 7.8894 19.2629H16.1394C16.4896 20.4003 17.593 21.1331 18.7772 21.0149C19.9614 20.8966 20.898 19.9599 21.0163 18.7757C21.1346 17.5916 20.4018 16.4881 19.2644 16.1379ZM16.1394 17.7629H7.8894C7.64354 16.9897 7.03768 16.3838 6.2644 16.1379V7.88794C7.03768 7.64208 7.64354 7.03622 7.8894 6.26294H16.1394C16.3853 7.03622 16.9911 7.64208 17.7644 7.88794V16.1379C16.9911 16.3838 16.3853 16.9897 16.1394 17.7629ZM18.5144 4.51294C19.0667 4.51294 19.5144 4.96065 19.5144 5.51294C19.5144 6.06522 19.0667 6.51294 18.5144 6.51294C17.9621 6.51294 17.5144 6.06522 17.5144 5.51294C17.5144 4.96065 17.9621 4.51294 18.5144 4.51294ZM5.5144 4.51294C6.06669 4.51294 6.5144 4.96065 6.5144 5.51294C6.5144 6.06522 6.06669 6.51294 5.5144 6.51294C4.96212 6.51294 4.5144 6.06522 4.5144 5.51294C4.5144 4.96065 4.96212 4.51294 5.5144 4.51294ZM5.5144 19.5129C4.96212 19.5129 4.5144 19.0652 4.5144 18.5129C4.5144 17.9607 4.96212 17.5129 5.5144 17.5129C6.06669 17.5129 6.5144 17.9607 6.5144 18.5129C6.5144 19.0652 6.06669 19.5129 5.5144 19.5129ZM18.5144 19.5129C17.9621 19.5129 17.5144 19.0652 17.5144 18.5129C17.5144 17.9607 17.9621 17.5129 18.5144 17.5129C19.0667 17.5129 19.5144 17.9607 19.5144 18.5129C19.5144 19.0652 19.0667 19.5129 18.5144 19.5129Z" fill="#333333"/>
                    </svg>
                    
                    <h2>Oppervlakten en inhoud</h2>
                </div>

                <dl>
                    <dt>Gebruikersoppervlakten</dt>
                    <dd>Wonen</dd>
                    <dd>571 m²</dd>

                    <dd>Overige inpandige ruimte</dd>
                    <dd>311 m²</dd>

                    <dd>Gebouwgebonden buitenruimte</dd>
                    <dd>311 m²</dd>

                    <dt>Externe bergruimte</dt>
                    <span>16 m²</span>

                    <dt>Perceel</dt>
                    <span>620 m²</span>

                    <dt>Inhoud</dt>
                    <span>1.750 m²</span>
                </dl>
            </section>

            <section class="description-list">
                <div>
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12.5605 2.46687L21.1665 12.0249C21.4435 12.3329 21.4185 12.8069 21.111 13.0844C20.803 13.3614 20.329 13.3364 20.052 13.0289L11.9995 4.08537L3.94854 13.0264C3.67154 13.3344 3.19754 13.3589 2.88954 13.0819C2.58154 12.8049 2.55654 12.3304 2.83354 12.0229L11.44 2.46487C11.4478 2.45599 11.4574 2.45003 11.467 2.4441C11.4747 2.43934 11.4824 2.4346 11.489 2.42837C11.5014 2.41697 11.5147 2.40778 11.5282 2.39852C11.536 2.39314 11.5438 2.38774 11.5515 2.38187C11.6095 2.33737 11.67 2.29837 11.7355 2.27337C11.7578 2.26483 11.7806 2.26015 11.8036 2.25544C11.8116 2.25381 11.8196 2.25217 11.8275 2.25037C11.8875 2.23587 11.9475 2.22437 12.0085 2.22437C12.0431 2.22521 12.0774 2.23175 12.1115 2.23827C12.1179 2.23948 12.1242 2.24069 12.1305 2.24187C12.1805 2.25087 12.2305 2.25987 12.2785 2.27887C12.328 2.29887 12.3735 2.33037 12.4185 2.36187C12.4256 2.36667 12.4327 2.37137 12.4398 2.37606C12.4673 2.39432 12.4948 2.4125 12.519 2.43637C12.5248 2.44186 12.5314 2.44588 12.5381 2.44993C12.5461 2.45472 12.554 2.45954 12.5605 2.46687Z" fill="#333333"/>
                        <path d="M6.50029 20.2729H17.5003V11.6934L19.0003 13.3594V21.0229C19.0003 21.4364 18.6653 21.7719 18.2518 21.7729H5.75029C5.33579 21.7729 5.00029 21.4374 5.00029 21.0229V13.3599L6.50029 11.6939V20.2729Z" fill="#333333"/>
                    </svg>

                    <h2>Indeling</h2>
                </div>

                <dl>
                    <dt>Indeling</dt>
                    <span>Aantal kamers<br>14 kamers (9 slaapkamers)</span>

                    <dt>Aantal badkamers</dt>
                    <span>3 badkamers en 1 apart toilet</span>

                    <dt>Badkamervoorzieningen</dt>
                    <span>3 ligbaden, 2 douches en 2 toiletten</span>

                    <dt>Aantal woonlagen</dt>
                    <span>3 woonlagen en een kelder</span>

                    <dt>Voorzieningen</dt>
                    <span>Dakraam, rolluiken, mechanische ventilatie en TV kabel</span>
                </dl>

            </section>


        </articlev>
    </main>






{% render 'partials/footer.liquid' %}
