{% render 'partials/head.liquid', title: 'Huis te koop: Apollolaan' %}
{% render 'partials/header.liquid' %}

<body>

    <main>
        <article class="info-adres">
            <!-- MARK: mediaviewer -->
            <section class="adres">
                <img src="https://fdnd-agency.directus.app/assets/{{ huis.poster_image }}?height=320&width=375">
                <h1> {{ huis.street }}</h1>
                <p class="tekst-postcode"> {{ huis.postal_code }} {{ huis.city }}</p>
                <img class="image-kaart-adres" src="/assets/map.png">
            </section>

            <!-- MARK: Informatie huis-->
            <section class="info-oppervlakte"> 

                {% render 'partials/icons/oppervlakte.liquid' %}
                <p class="tekst-icons"> {{ huis.m2_garden }} m²</p>

                {% render 'partials/icons/oppervlakte2.liquid' %}
                <p class="tekst-icons"> {{ huis.m2 }} m²</p>


                {% render 'partials/icons/room.liquid' %}
                <p class="tekst-icons"> {{huis.rooms}}</p>
                
               {% render 'partials/icons/electric.liquid' %}
                <p class="tekst-icons">C</p>
            </section>

            <section class="maandlasten">
                <p class="tekst-price"> € {{ huis.price }} k.k. </p>

                <a href="">
                {% render 'partials/icons/calculator.liquid' %}
                    <p>Wat worden mijn maandlasten?</p>
                </a>
            </section>
        </article>

        <!-- MARK: beschrijving huis -->
        <article class="omschrijving">
            <h1>Omschrijving</h1>
            <p class="tekst-icons"> {{ huis.description }}</p>

            <a href="" >
                <img src="/assets/plus.png">
                <p>Lees de volledige omschrijving</p>
            </a>
        </article>
                    
        <button class="advertentie-button">Advertentie</button>

        <article class="advertentie">
            <img src="/assets/advertiser.png">
            <h1>Design stalen deuren</h1>
            <p>Al meer dan 1200 tevreden klanten door heel Nederland. Meer dan 10 jaar ervaring.</p>
            <button>Offerte vragen</button>
        </article>

        <!--MARK: description lists --> 

        <article>
            <h1>Kenmerken</h1>
            <section class="description-list">
                <div>
                    {% render 'partials/icons/overdracht.liquid' %}

                    <h2>Overdracht</h2>
                </div>

                <dL>
                    <dt>Vraagprijs</dt>
                    <span>€{{ huis.price }} kosten per koper</span>

                    <dt>Vraagprijs per m²</dt>
                    <span>{{ huis.m2 }} m²</span>

                    <dt>Aangeboden sinds</dt>
                    <span>31 Maart 2021</span>

                    <dt>Status</dt>
                    <span>Beschikbaar</span>

                    <dt>Aanvaarding</dt>
                    <span>In overleg</span>

                    <dt>Bijdrage VVE</dt>
                    <span>€ 130,00 per maand</span>
                </dL>
            </section>
            
            <section class="description-list">

                <div>
                    {% render 'partials/icons/bouw.liquid' %}
                    <h2>Bouw</h2>
                </div>

                <dl>
                    <dt>Soort huis</dt>
                    <span>Villa, vrijstaande woning</span>

                    <dt>Soort bouw</dt>
                    <span>Bestaande bouw</span>

                    <dt>Bouwperiode</dt>
                    <span>1906-1930</span>

                    <dt>Soort dak</dt>
                    <span>Zadeldak bedekt met pannen</span>
                </dl>
            </section>
            
            <section class="description-list">
                <div>
                    {% render 'partials/icons/inhoud.liquid' %}
                    <h2>Oppervlakten en inhoud</h2>
                </div>

                <dl>
                    <dt>Gebruikersoppervlakten</dt>
                    <dd>Wonen</dd>
                    <dd>571 m²</dd>

                    <dd>Overige inpandige ruimte</dd>
                    <dd>311 m²</dd>

                    <dd>Gebouwgebonden buitenruimte</dd>
                    <dd>311 m²</dd>

                    <dt>Externe bergruimte</dt>
                    <span>16 m²</span>

                    <dt>Perceel</dt>
                    <span>620 m²</span>

                    <dt>Inhoud</dt>
                    <span>1.750 m²</span>
                </dl>
            </section>

            <section class="description-list">
                <div>
                    {% render 'partials/icons/indeling.liquid' %}
                    <h2>Indeling</h2>
                </div>

                <dl>
                    <dt>Indeling</dt>
                    <span>Aantal kamers<br>14 kamers (9 slaapkamers)</span>

                    <dt>Aantal badkamers</dt>
                    <span>3 badkamers en 1 apart toilet</span>

                    <dt>Badkamervoorzieningen</dt>
                    <span>3 ligbaden, 2 douches en 2 toiletten</span>

                    <dt>Aantal woonlagen</dt>
                    <span>3 woonlagen en een kelder</span>

                    <dt>Voorzieningen</dt>
                    <span>Dakraam, rolluiken, mechanische ventilatie en TV kabel</span>
                </dl>
            </section>

            <section class="description-list">
                <div>
                    {% render 'partials/icons/energie.liquid' %}

                    <h2>Energie</h2>
                </div>

                <dl>

                    {% render 'partials/icons/energielabel.liquid' %}

                    <span>Energielabel</span>

                    <img src="/assets/energy-label.pngß">

                    <dd>Energielabel A</dd>

                    <dt>Verwarming</dt>
                    <span>Cv-ketel</span>

                    <dt>Warm water</dt>
                    <span>Cv-ketel</span>

                    <dt>Cv-ketel</dt>
                    <span>Remeha (2005)</span>
                </dl>
            </section>

            <section>
                <div>
                    {% render 'partials/icons/kadaster.liquid' %}
                    <h2>Kadastrale gegevens</h2>
                </div>

                <dl>
                    <dt>AMSTERDAM AB 678</dt>
                    <a>Kadastrale kaart</a>

                    <dd>Oppervlakte</dd>
                    <dd>620 m²</dd>

                    <dd>Eigendomssituatie</dd>
                    <dd>Gemeentelijk erfpacht</dd>

                    <dd>Lasten</dd>
                    <dd>Afgekocht tot 31-05-2052</dd>
                </dl>
            </section>

            <section>
                <div>
                    {% render 'partials/icons/buitenruimte.liquid' %}
                    <h2>Buitenruimte</h2>
                </div>

                <dl>
                    <dt>Ligging</dt>
                    <span>Aan drukke weg en in woonwijk</span>

                    <dt>Tuin</dt>
                    <span>Tuin rondom</span>

                    <dt>Balkon/dakterras</dt>
                    <span>Balkon aanwezig</span>
                </dl>
            </section>

            <section>
                <div>
                    {% render 'partials/icons/garage.liquid' %}
                    <h2>Garage</h2>
                </div>

                <dl>
                    <dt>Soort garage</dt>
                    <span>Vrijstaande stenen garage</span>

                    <dt>Capaciteit</dt>
                    <span>2 auto’s</span>

                    <dt>Voorzieningen</dt>
                    <span>Elektra</span>
                </dl>
            </section>

            <section>
                <div>
                    {% render 'partials/icons/parkeergelegenheid.liquid' %}

                    <h2>Parkeergelegenheid</h2>
                </div>

                <dl>
                    <dt>Soort parkeergelegenheid</dt>
                    <span>Betaald parkeren parkeervergunningen</span>
                </dl>
            </section>
        </article>

        <article>
            <h2 class="ing">Kan je dit huis betalen?</h2>
            <p>Bereken nu direct hoeveel je kunt lenen. <a href="">Bereken nu</a></p>
        </article>

        <article>
            <h2>Direct weten als er iets verandert?</h2>
            <p>Bewaar dit huis als favoriet, en ontvang een e-mail als de prijs of status verandert.</p>
            
            <button>
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M19.5001 4.9287C18.5606 4.0199 17.3072 3.5078 16.0001 3.4987C14.9176 3.49505 13.8638 3.84632 13.0001 4.4987C12.6215 4.78348 12.2848 5.12011 12.0001 5.4987C11.7153 5.12011 11.3787 4.78348 11.0001 4.4987C10.1376 3.84258 9.08376 3.4873 8.00006 3.4873C6.91637 3.4873 5.86256 3.84258 5.00006 4.4987C4.37618 4.9617 3.87004 5.56506 3.52259 6.25996C3.17514 6.95486 2.99613 7.72179 3.00006 8.4987C3.00006 15.9987 11.0001 20.4987 12.0001 20.4987C13.0001 20.4987 21.0001 15.9987 21.0001 8.4987C21 7.83379 20.8673 7.17559 20.6097 6.56259C20.3521 5.9496 19.9749 5.39413 19.5001 4.9287ZM12.0001 18.9287C9.31722 17.6013 7.09973 15.4919 5.64006 12.8787C4.90844 11.5336 4.51706 10.0298 4.50006 8.4987C4.50039 7.69533 4.77707 6.91652 5.28367 6.29302C5.79027 5.66951 6.49595 5.23927 7.28225 5.0745C8.06854 4.90974 8.88758 5.02049 9.60188 5.38816C10.3162 5.75583 10.8822 6.35804 11.2051 7.0937C11.2351 7.1637 11.2601 7.2387 11.2901 7.3137C11.3403 7.46077 11.4353 7.58845 11.5617 7.67886C11.6881 7.76926 11.8396 7.81787 11.9951 7.81787C12.1505 7.81787 12.302 7.76926 12.4284 7.67886C12.5548 7.58845 12.6498 7.46077 12.7001 7.3137C12.7251 7.2387 12.7551 7.1637 12.7851 7.0937C13.1042 6.35191 13.67 5.7433 14.3866 5.37103C15.1032 4.99876 15.9265 4.88574 16.7169 5.05112C17.5073 5.2165 18.2162 5.65011 18.7235 6.27845C19.2307 6.90678 19.5051 7.69119 19.5001 8.4987C19.4872 10.0383 19.0956 11.5511 18.3601 12.9037C16.9004 15.5169 14.6829 17.6263 12.0001 18.9537V18.9287Z" fill="#0071B3"/>
                </svg>Bewaren
            </button>
        </article>

        <article>
            <h2>Activiteit</h2>

            <section>
                <div>
                    <img src="/assets/oog.png" alt="illustratie van oog">
                    <p>75x</p>
                    <p>bekenen</p>
                </div>

                <div>
                    <img src="/assets/hart.png" alt="illustratie van hart">
                    <p>12x</p>
                    <p>bewaard</p>
                </div>

                <div>
                    <img src="/assets/agenda.png" alt="illustratie van hart">
                    <p>31-12-2024</p>
                    <p>Op funda</p>
                </div>
            </section>
        </article>

        <article>
            <h2>Buurt</h2>
            
            <div>
                <img src="/assets/thumpnail.png">
                <a href="">Nieuwe pijp</a>
                <p>Amsterdam</p>

                {% render 'partials/icons/pijl.liquid' %}
            </div>

            <table>
                <tr>
                    <th>Inwoners</th>
                    <td>12.450</td>
                </tr>
                <tr>
                    <th>Gezinnen met kinderen</th>
                    <td>55%</td>
                </tr>
                <tr>
                    <th>Gem. vraagprijs / m²</th>
                    <td>€ 3.078</td>
                </tr>
            </table>
        </article>

        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2437.2226894504543!2d4.879990576692972!3d52.34824624893146!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c609f65ebcbf19%3A0x156af697d4fe380d!2sApollolaan%2011%2C%201077%20AA%20Amsterdam!5e0!3m2!1snl!2snl!4v1749243620818!5m2!1snl!2snl" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        <div>
            <a href="">
                <img src="/assets/trailing.png" alt="afbeelding van 2 pijlen"> 
                Open grotere kaart
            </a>

            <a href="https://maps.app.goo.gl/PNPDyXHqSRXXcPrj8">
                <img src="/assets/left.png" alt="afbeelding van aanwijzer">
                Bereken reistijd op Google Maps
            </a>
        </div>

        <article>
            <img src="/assets/bm.png" alt="afbeelding van logo BM">

            <a href="">
                <h2>B&M Makelaars</h2>
            </a>

            <a href="">
                <img src="/assets/tel.png">
                <p>Toon telefoonnummer</p>
            </a>

            <button>                
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M21.25 4.99854H2.75C2.33579 4.99854 2 5.33432 2 5.74854V18.2485C2 18.6627 2.33579 18.9985 2.75 18.9985H21.25C21.6642 18.9985 22 18.6627 22 18.2485V5.74854C22 5.33432 21.6642 4.99854 21.25 4.99854ZM11.56 13.1085C11.8225 13.2987 12.1775 13.2987 12.44 13.1085L20.5 7.28354V17.4985H3.5V7.28354L11.56 13.1085ZM4.975 6.49854H19.025L12 11.5735L4.975 6.49854Z" fill="white"/>
                </svg>Neem contact op
            </button>

            <a href="">
                <img src="/assets/agenda2.png">
                <p>Vraag bezichtiging aan</p>
            </a>

            <a href="">Meld een fout over deze woning</a>
        </article>

<!-- MARK: Carousel-->
        <article>
            <h2>Vergelijkbaar in de buurt</h2>

            <button>Te koop</button>
            <button>Verkocht</button>

            <section>
                <img src="https://fdnd-agency.directus.app/assets/{{ huis.poster_image }}?height=200">

                <h2>Jan Peppinkstraat 2</h2>
                <p>1069 PH Amsterdam</p>
                <p>€ 575.000 k.k.</p>

                {% render 'partials/icons/oppervlakte.liquid' %}
                <p> {{ huis.m2_garden }} m²</p>

                {% render 'partials/icons/oppervlakte2.liquid' %}
                <p> {{ huis.m2 }} m²</p>

                {% render 'partials/icons/room.liquid' %}
                <p> {{huis.rooms}}</p>
                
                {% render 'partials/icons/electric.liquid' %}
                <p>C</p>
            </section>

            <section>
                <img src="https://fdnd-agency.directus.app/assets/{{ huis.poster_image }}?height=200">

                <h2>Jan Peppinkstraat 2</h2>
                <p>1069 PH Amsterdam</p>
                <p>€ 575.000 k.k.</p>

                {% render 'partials/icons/oppervlakte.liquid' %}              
                <p> {{ huis.m2_garden }} m²</p>

                {% render 'partials/icons/oppervlakte2.liquid' %}
                <p> {{ huis.m2 }} m²</p>


                {% render 'partials/icons/room.liquid' %}
                <p> {{huis.rooms}}</p>
                
                {% render 'partials/icons/electric.liquid' %}
                <p>C</p>
            </section>

            <section>
                <img src="https://fdnd-agency.directus.app/assets/{{ huis.poster_image }}?height=200">

                <h2>Jan Peppinkstraat 2</h2>
                <p>1069 PH Amsterdam</p>
                <p>€ 575.000 k.k.</p>

                {% render 'partials/icons/oppervlakte.liquid' %}               
                <p> {{ huis.m2_garden }} m²</p>

                {% render 'partials/icons/oppervlakte2.liquid' %}
                <p> {{ huis.m2 }} m²</p>

                {% render 'partials/icons/room.liquid' %}
                <p> {{huis.rooms}}</p>
                
                {% render 'partials/icons/electric.liquid' %}
                <p>C</p>
            </section>
        </article>

        <article>
            <h2>Antwoord op al je belangrijke vragen</h2>

            <p>Wil je weten hoe je als een pro op funda kunt zoeken?</p>
            <img src="/assets/down.png" alt="illustratie van pijltje naar beneden">

            <p>Wat betekent 'onder bod' als je een huis wilt kopen?</p>
            <img src="/assets/down.png" alt="illustratie van pijltje naar beneden">

            <p>Waarop moet je letten bij het bezichtigen van een huis?</p>
            <img src="/assets/down.png" alt="illustratie van pijltje naar beneden">

            <p>Voorbeeldbrief voor een bod op een huis: hoe doe ik dit?</p>
            <img src="/assets/down.png" alt="illustratie van pijltje naar beneden">
        </article>

        <article>
            <h2>Verder verdiepen</h2>
            <button>Bieden</button>
            <button>Verduurzamen</button>
            <button>Hypotheek</button>
        </article>
    </main>

{% render 'partials/footer.liquid' %}
